<div id='footer'>
    Contact :
    <script language=javascript>
       <!--
      var htm1 = "mail";
      var htm2 = "to:";
      var adres = "ml.org";
      var adres = "@rd" + adres;
      var adres = "info" + adres;
      var PrompText = adres;
      document.write("<a href=" + htm1 + htm2 + adres + ">" + PrompText + "</a>")
      //-->
    </script>

    <NOSCRIPT>
        <em>Email uses JavaScript to defend against SPAM.<br>
            You must enable JavaScript to contact me.</em>
    </NOSCRIPT>
    -
    <a href="impressum.html">Impressum</a>
    -
    <a href="privacy.html">Privacy Policy</a>
    -
    &copy; 2008-{{ 'now' | date: "%Y" }} RDML Consortium</div>
</div> <!-- footer div -->
