<!doctype html>
<html lang="en">

{% include head.html %}

  <body>
    <div class="container" id="rdml-main">

  <!-- Include navbar -->
{% include navbar.html %}

<!-- Include content -->
      <div class="container" id="rdml-center">
{{ content }}
      </div>

<!-- Include footer -->
      <div class="container" id="rdml-footer">
{% include footer.html %}
      </div>

    </div>

    <script src="{{ "/js/jquery-3.2.1.slim.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/popper/popper.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap4/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
